body{
    background-color: rgb(56, 1, 107);
}
h1,h3, form, div {
    text-align: center;
    color: rgb(89, 134, 218);
    align-content: center;
}
#game-board{
    margin-left:40%;
    margin-right:40%;
    display:flex;
    justify-content:space-between;
}
table {
    margin:auto;
    
}
td{
    color:yellow;
    font-size: 3rem;
    
}
#guess-form {

    margin-left:auto;
}
div {
    text-align:center;
}